<div class="centered-parent">
  <mat-card class="page-basic page-card">

    <mat-card-title *ngIf="attributeExists('loginTitle')" [innerHtml]="getCustomAttribute('loginTitle')">
    </mat-card-title>
    <mat-card-title *ngIf="!attributeExists('loginTitle')">Login for {{ realmName | uppercase }}</mat-card-title>

    <div class="login-buttons">
      <button mat-raised-button routerLink="dashboard" routerLinkActive="active" class="login-button">Access the dashboard</button> <br />
      <button mat-raised-button routerLink="register" routerLinkActive="active" class="login-button">Register</button>
    </div>
  </mat-card>
</div>