/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-basic {
  text-align: center;
  max-width: 70%;
}

.centered-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 10px;
  width: 200px;
}

.big-icon {
  font-size: 100px;
}

/* Override background colour for block UI to be white to fit into the rest of the site */
div.block-ui-wrapper {
  background-color: rgba(255, 255, 255, 0.75);
}

.large-input {
  width: calc(100%);
}